@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

body {
  margin: 0;
  background-color: #00DBDE;
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
  margin: 0;
  padding: 0;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

#image1{
    width:400px;
    margin-left:50px;
    margin-top: 100px;
}

#image2{
    width: 400px;
    margin-left:70%;
    margin-top: -200px;
}

h2{
    font-size:30px;
    font-family: 'Prompt', sans-serif;
    font-weight:bold;
    margin-left:34%;
    position: relative;
    top: 20px;
}


/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  position:relative ;
  width:350px;
  margin-left:37%;
  margin-top: -100px;
  list-style: none;
  font-family: 'Prompt', sans-serif;
  height: 45px;
  line-height: 45px;
  /* margin-bottom: 8px; */
  /* background: transparent; */
  
  border-left: 1px solid rgba(116, 98, 98, 0.2);
  border-bottom: 1px solid  rgba(116, 98, 98, 0.2);
  box-shadow: 0 0 5px rgba(116, 98, 98, 0.2);
  border-radius: 16px;
  padding: 0 15px;
  cursor: default;
}

ul{
    margin-top: -190px;
}

/* Set all odd list items to a different color (zebra-stripes) */
/* ul li:nth-child(odd) {
  background: #f9f9f9;
} */

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: rgb(97, 92, 92);
  color: #fff;
  text-decoration: line-through;
}



/* Style the close button */
.close {
  position: absolute;
  left: 360px;
  top:-16px;
  font-size: 50px;
  padding: 10px;
  
 
}

.close:hover {
   background-position: right center;
  color: rgb(56, 58, 167);
  
}


.sortBtn{
  position:relative;
  left:60%;
  bottom:670px;
  border-style: none;
  background-color: transparent;

}


 
/* Style the header */
.header {
  background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
width:500px;
 height: 600px;
 margin-left: 34%;
 margin-top: -410px;
 margin-bottom: 100px;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  width: 350px;
    padding:15px;
    margin-left: 40px;
    background: rgba(68, 61, 61, 0.73);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
   border-style: none;
   color: white;
   opacity: 1.5;
   outline: none;
}

input:hover{
    background: rgba(101, 99, 99, 0.73);
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-family: 'Prompt', sans-serif;
}



/* Style the "Add" button */
.addBtn {
   border: none;
    background-color: transparent;
    color:  rgba(68, 61, 61, 0.73);
    position: relative;
    top:10px;
}

.addBtn:active {
  opacity: 1;
    pointer-events: auto;
    animation:rot 0.5s linear;
}
@keyframes rot{
   0%{
    transform: rotate(0deg);
   }
   25%{
    transform: rotate(90deg);
   }
   50%{
    transform: rotate(180deg);
   }
   75%{
    transform: rotate(270deg);
   }
   100%{
    transform: rotate(360deg);
   }
 }
